@import "tailwindcss";

:root {
  font-family: Nuniti Sans, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

}
a:hover {
  color: #046EF1;
}

#root {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}


body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #99A1BA;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (max-width: 767px) {
  h1 {
    font-size: 2em;
    line-height: 1.1;
  }
}

input {
  color: #ffffff;
  font-size: 16px
}

.button__main {
  border-radius: 0;
  border: 1px solid transparent;
  padding: 0.7em 2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #4a61dd;
  cursor: pointer;
  transition: all 0.3s;
}

.button__main:hover {
  background-color: #646cff;
}
.button__main:focus,
.button__main:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


#canvas {
  margin: 0 auto;
  transform: rotate(90deg);
}

#spin_button {
  margin-top: 40px;
}

.wheel-arrow {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;    /* Верхня невидима границя */
  border-bottom: 15px solid transparent; /* Нижня невидима границя */
  border-right: 40px solid rgb(255, 255, 255);         /* Права стрілка (видима частина) */
  display: inline-block;                 /* Для розміщення в рядку, якщо потрібно */
}

.checkbox {
  font-size: 13px;
  font-weight: 400;
  color: #99A1BA;
  position: relative;
  padding-left: 27px;
  line-height: 0em;
  height: 20px;
  display: flex;
  align-items: center;
  margin-top: 7px;
  cursor: pointer;
  user-select: none;
}

.checkbox-min {
  height: 14px;
  padding-left: 21px;
}

.checkbox:before, .radio:before {
  content: '';
  width: 20px;
  height: 20px;
  border: 1px solid #3F455A;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 5px;
}

.checkbox-min:before {
  width: 14px;
  height: 14px;
  border-radius: 2px;
}


.peer-checked:after, .checkbox-checked:after {
  content: "";
  position: absolute;
  color: white;
  font-size: 0.75rem;
  left: 50%;
  top: 50%;
  background: #4A61DA url(../img/tick.svg) center center no-repeat;
  transform: translate(-50%, -50%);
}




/* .widget-wheel-wrap {
  position: relative;
  width: 500px;
  height: 500px;
  left: -250px;
  background: #aaa;
  border-radius: 1000px;
} */

.widget-wheel-wrap * {
  box-sizing: border-box;
  line-height: 1;
  text-align: left;
}

.widget-wheel-center {
  position: absolute;
  width: 20%;
  height: 20%;
  left: 40%;
  top: 40%;
  background: #fff;
  border-radius: 1000px;
  z-index: 100;
  box-shadow: -1px 1px 7px #888;
}

.widget-wheel-wrap * {
  box-sizing: border-box;
  line-height: 1;
  text-align: left;
}

.widget-wheel-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 14px 40px 14px 0;
  border-color: transparent #fff transparent transparent;
  -webkit-filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, .2));
  filter: drop-shadow(-3px 3px 3px rgba(0, 0, 0, .2));
  position: absolute;
  right: -8px;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 100;
}

.widget-wheel-wait {
  animation: 30s 
linear infinite anim-spin-onload;
}

.widget-wheel-wrap * {
  box-sizing: border-box;
  line-height: 1;
  text-align: left;
}
.widget-wheel {
  width: 100%;
  height: 100%;
  position: relative;
  animation-duration: 6.5s;
  animation-iteration-count: 1;
  animation-timing-function: 
ease-out;
  animation-fill-mode: forwards;
  transform: rotate(-22.5deg);
}

.widget-wheel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 0 solid #fff;
}

.widget-wheel-inner .widget-wheel-part {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
.widget-wheel-inner .widget-wheel-part~.widget-wheel-part {
  left: 50%;
}
.widget-wheel-inner .widget-wheel-part~.widget-wheel-part>div {
  left: -100%;
}

.widget-wheel-inner .widget-wheel-part>div {
  position: absolute;
  width: 200%;
  height: 100%;
}

.widget-wheel-inner .widget-wheel-slice-1 {
  background-image: linear-gradient(-45deg, transparent 50%, transparent 50%), linear-gradient(-90deg, transparent 50%, #de051e 50%);
}

.widget-wheel-inner .widget-wheel-slice-2 {
  background-image: linear-gradient(0deg, transparent 50%, transparent 50%), linear-gradient(-45deg, transparent 50%, #eb112a 50%);
}

.widget-wheel-inner .widget-wheel-slice-3 {
  background-image: linear-gradient(45deg, transparent 50%, transparent 50%), linear-gradient(0deg, transparent 50%, #de051e 50%);
}

.widget-wheel-inner .widget-wheel-slice-4 {
  background-image: linear-gradient(90deg, transparent 50%, transparent 50%), linear-gradient(45deg, transparent 50%, #eb112a 50%);
}
.widget-wheel-inner .widget-wheel-slice-5 {
  background-image: linear-gradient(135deg, transparent 50%, transparent 50%), linear-gradient(90deg, transparent 50%, #de051e 50%);
}
.widget-wheel-inner .widget-wheel-slice-6 {
  background-image: linear-gradient(180deg, transparent 50%, transparent 50%), linear-gradient(135deg, transparent 50%, #eb112a 50%);
}
.widget-wheel-inner .widget-wheel-slice-7 {
  background-image: linear-gradient(225deg, transparent 50%, transparent 50%), linear-gradient(180deg, transparent 50%, #de051e 50%);
}
.widget-wheel-inner .widget-wheel-slice-8 {
  background-image: linear-gradient(270deg, transparent 50%, transparent 50%), linear-gradient(225deg, transparent 50%, #eb112a 50%);
}
.widget-wheel-text-1 {
  left: 30.7%;
  top: 96.3%;
  transform: rotate(-67.5deg);
  color: #fff;
}
.widget-wheel-text-2 {
  left: 3.5%;
  top: 69.1%;
  transform: rotate(-22.5deg);
  color: #fff;
}
.widget-wheel-text-3 {
  left: 3.4%;
  top: 30.5%;
  transform: rotate(22.5deg);
  color: #fff;
}
.widget-wheel-text-4 {
  left: 30.9%;
  top: 3.2%;
  transform: rotate(67.5deg);
  color: #fff;
}
.widget-wheel-text-5 {
  left: 69.4%;
  top: 3.5%;
  transform: rotate(112.5deg);
  color: #fff;
}
.widget-wheel-text-6 {
  left: 96.3%;
  top: 30.9%;
  transform: rotate(157.5deg);
  color: #fff;
}
.widget-wheel-text-7 {
  left: 96.5%;
  top: 69.3%;
  transform: rotate(202.5deg);
  color: #fff;
}
.widget-wheel-text-8 {
  left: 69.2%;
  top: 96.6%;
  transform: rotate(247.5deg);
  color: #fff;
}
.widget-wheel-text {
  position: absolute;
  z-index: 30;
  transform-origin: 0 0;
  width: 50%;
}
.widget-wheel-text span {
  color: #FFFFFF;
}
.widget-wheel-text span {
  position: absolute;
  transform: translateY(-50%) rotate(180deg);
  text-align: center;
  display: block;
  width: 100%;
  padding: 0 8% 1% 36%;
  box-sizing: border-box;
  font-size: 16px;
  color: #fff;
}


#wheelee-container {
  width: 100%;
  max-width: 1000px;
  background: #262635;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.widget-wheel-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

#wheel-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
  background: #212230;
  position: fixed;
  height: 100vh;
  width: 70%;
  left: 0;
  top: 0;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  opacity: 1;
  transform: translateX(-100%);
  z-index: 1050;
}

#wheel-wrap.active {
  opacity: 1;
  transform: translateX(0);
  display: flex;
  z-index: 1050;
}

.wheel-form {
  position: absolute;
  left: 325px;
}

.checked {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+IDxwYXRoIGQ9Ik0xMS40IDVMMTAgMy42bC00IDQtMi0yTDIuNiA3IDYgMTAuNHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
}


body {
  height: 100vh;
}

#root > div {
  height: 100vh;
}
#root .theme-light {
  background-color: #fff;
}
#root .theme-dark {
  background-color: #222;
}


#pulse-loader .pulse-loader-1,
#pulse-loader .pulse-loader-2 {
  border-radius: 1000px
}

#pulse-loader {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px
}

#pulse-loader {
  top: 30%
}

#pulse-loader>div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #fff
}

#pulse-loader .pulse-loader-1 {
  animation: pulse1 1s .5s ease infinite
}

#pulse-loader .pulse-loader-2 {
  animation: pulse1 1s ease infinite
}

@keyframes pulse1 {
  0% {
    transform: scale(0)
  }
  40% {
    transform: scale(0.3);
    opacity: 1
  }
  100% {
    transform: scale(1);
    opacity: 0
  }
}

#page-wheel-widget .widget-wheel-wrap {
  position: initial;
  opacity: 1;
  transform: translateX(0);
  width: 100%;
  max-width: 1000px;
  background: #262635;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
}

.wheel-widget-container {
  width: 100%;
}

.main-wheel-widget {
  width: 100%;
  max-width: 1000px;
}

#page-wheel-widget .widget-close-btn {
  display: none;
}

.widget-page .widget-wheel-wrap._hidden, .widget-page .widget-wheel-wrap {
  opacity: 1;
  transform: translateX(0);
  position: relative;
  width: 100%;
}

.widget-page .widget-close-btn {
  display: none;
}

.widget-page #close_button {
  display: none;
}